@import url("./components/Header/header.css");
@import url("./components/QuestionCard/question-card.css");
@import url("./components/NavBar/navbar.css");
@import url("./components/Form/form.css");
@import url("./components/Profile/profile.css");

* {
  box-sizing: border-box;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 100px 0;
  z-index: -1;
  gap: 30px;
}
