@import url("../Tag/tag.css");

.profile__header {
  display: flex;
  align-items: center;
}

.profile__pciture {
  border-radius: 50%;
  width: 70%;
}

.profile__profil-name-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}

.profile__Tag-list {
  display: flex;
  padding-left: 0;
}
