<section class="question-card">
  <img
    class="question-card__bookmark"
    src="../../assets/icons/bookmark_black_36dp.svg"
  />
  <h2>QUESTION:</h2>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus totam nam
    beatae laboriosam saepe quam. Illo neque a error possimus. Quibusdam
    eligendi facilis libero laboriosam! Quas id aliquid esse quae.
  </p>
  <div class="question-card__button-wrapper">
    <button class="question-card__button--open">Close Answer</button>
  </div>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus totam nam
    beatae laboriosam saepe quam. Illo neque a error possimus. Quibusdam
    eligendi facilis libero laboriosam! Quas id aliquid esse quae.
  </p>
  <ul class="question-card__tag-list">
    <li class="tag">HTML</li>
    <li class="tag">CSS</li>
    <li class="tag">Programming</li>
    <li class="tag">Learning</li>
  </ul>
</section>
